<div class="row">
    <div class="col-md-12">
        <h2>{{viewData.employee.firstName}} {{viewData.employee.lastName}} - Employee: {{viewData.employee.employeeNum}}</h2>
        <hr />
        <form method="post" action="/employee/update">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input class="form-control" id="firstName" name="firstName" type="text" value="{{viewData.employee.firstName}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input class="form-control" id="last_name" name="last_name" type="text" value="{{viewData.employee.last_name}}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="form-control" id="employeeNum" name="employeeNum" type="hidden" value="{{viewData.employee.employeeNum}}" />
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" name="email" type="text" value="{{viewData.employee.email}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SSN">Social Security Number:</label>
                            <input class="form-control" id="SSN" name="SSN" type="text" readonly value="{{viewData.employee.SSN}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressStreet">Address (Street)</label>
                            <input class="form-control" id="addressStreet" name="addressStreet" type="text" value="{{viewData.employee.addressStreet}}"
                            />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressCity">Address (City)</label>
                            <input class="form-control" id="addressCity" name="addressCity" type="text" value="{{viewData.employee.addresCity}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressState">Address (State)</label>
                            <input class="form-control" id="addressState" name="addressState" type="text" value="{{viewData.employee.addressState}}"
                            />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressPostal">Address (Zip Code)</label>
                            <input class="form-control" id="addressPostal" name="addressPostal" type="text" value="{{viewData.employee.addressPostal}}"
                            />
                        </div>
                    </div>
                    <legend>Company Information</legend>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="isManager">Manager</label>
                            <input class="form-control" id="isManager" name="isManager" type="checkbox" {{#if viewData.employee.isManager}}checked{{/if}}
                            />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="employeeManagerNum">Employee's Manager Number</label>
                            <input class="form-control" id="employeeManagerNum" name="employeeManagerNum" type="text" value="{{viewData.employee.employeeManagerNum}}"
                            />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <label class="checkbox-inline"> Full Time
                                <input id="ftStatus" name="ftStatus" type="radio" {{#equal viewData.employee.status "Full Time"}}checked{{/equal}} value="Full Time"
                                />
                            </label>
                            <label class="checkbox-inline"> Part Time
                                <input id="ptStatus" name="ptStatus" type="radio" {{#equal viewData.employee.status "Part Time"}}checked{{/equal}} value="Part Time"
                                />
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="department">Department</label>
                            {{#if viewData.departments}}
                            <select class="form-control" name="department" id="department">
                                {{#each viewData.departments}}
                                <option value="{{departmentId}}" {{#if selected}} selected {{/if}}>{{departmentName}} </option>
                                {{/each}}
                            </select>
                            {{else}}
                            <div>No Departments</div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="hireDate">Hire Date</label>
                            <input class="form-control" id="hireDate" name="hireDate" type="text" readonly value="{{viewData.employee.hireDate}}" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Employee" />
            <br />
            <br />
            <br />
        </form>
    </div>
</div>