<div class="row">
 <div class="col-md-12">
 <h2>Employees</h2>
 <a href="/employees/add" class="btn btn-success pull-right">Add New Employee</a>
 <hr />

<div class = "table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Employee Num</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Manager ID</th>
                <th>Status</th>
                <th>Department</th>
                <th>Hired On</th>
            </tr>
        </thead>
        <tbody>
            {{#each employees}}
            <tr>
                <div class="col-md-4">
                    <td>{{this.employeeNum}}</td>
                    <td><a href="/employee/{{this.employeeNum}}">{{this.firstName}} {{this.last_name}}</a></td>
                    <td><a href="mailto: {{this.email}}">{{this.email}}</a></td>
                    <td>{{this.addressStreet}} {{this.addresCity}} {{this.addressState}} {{this.addressPostal}}</td>
                    <td><a href="?manager={{this.employeeManagerNum}}">{{this.employeeManagerNum}}</a></td>
                    <td><a href="?status={{this.status}}">{{this.status}}</a></td>
                    <td><a href="?department={{this.department}}">{{this.department}}</a></td>
                    <td>{{this.hireDate}}</td>
                    <td><a href="/employees/delete/{{employeeNum}}" class="btn btn-danger">remove</a></td>
                </div>
            </tr>
            {{/each}}
        </tbody>
    </table>
     
</div>

{{#unless employees}}
<div class="col-md-12 text-center">
 <strong>{{message}}</strong>
</div>
{{/unless}}

 </div>
</div>