<div class="row">
    <div class="col-md-12">
        <h2>{{employee.firstName}} {{ employee.lastName}} - Employee: {{ employee.employeeNum}}</h2>
        <hr />
        <form method="post" action="/employee/update">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input class="form-control" id="firstName" name="firstName" type="text" value="{{employee.firstName}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input class="form-control" id="lastName" name="lastName" type="text" value="{{employee.lastName}}" />
                        </div>
                    </div>
                    
                        <div class="form-group">
                            <input class="form-control" id="employeeNum" name="employeeNum" type="hidden" value="{{employee.employeeNum}}" />
                        </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" name="email" type="text" value="{{employee.email}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SSN">Social Security Number:</label>
                            <input class="form-control" id="SSN" name="SSN" type="text" readonly value="{{employee.SSN}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressStreet">Address (Street)</label>
                            <input class="form-control" id="addressStreet" name="addressStreet" type="text" value="{{employee.addressStreet}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressCity">Address (City)</label>
                            <input class="form-control" id="addressCity" name="addressCity" type="text" value="{{employee.addresCity}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressState">Address (State)</label>
                            <input class="form-control" id="addressState" name="addressState" type="text" value="{{employee.addressState}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressPostal">Address (Zip Code)</label>
                            <input class="form-control" id="addressPostal" name="addressPostal" type="text" value="{{employee.addressPostal}}" />
                        </div>
                    </div>
                    <legend>Company Information</legend>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="isManager">Manager</label>
                            <input class="form-control" id="isManager" name="isManager" type="checkbox" {{#if employee.isManager}}checked{{/if}} />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="employeeManagerNum">Employee's Manager Number</label>
                            <input class="form-control" id="employeeManagerNum" name="employeeManagerNum" type="text" value="{{employee.employeeManagerNum}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <label class="checkbox-inline"> Full Time
                            <input id="ftStatus" name="ftStatus" type="radio" {{#equal employee.status "Full Time"}}checked{{/equal}} value="Full Time" />
                            </label>
                            <label class="checkbox-inline"> Part Time
                                <input id="ptStatus" name="ptStatus" type="radio" {{#equal employee.status "Part Time"}}checked{{/equal}} value="Part Time" />
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="department">Department</label>
                            <select class="form-control" id="Department" name="Department" type="select">
                            <option {{#equal employee.department "1"}}selected{{/equal}} value="Creative Services">Creative Services</option>
                            <option {{#equal employee.department "2"}}selected{{/equal}} value="Product Development">Product Development</option>
                            <option {{#equal employee.department "3"}}selected{{/equal}} value="Marketing">Marketing</option>
                            <option {{#equal employee.department "4"}}selected{{/equal}} value="Strategic Planning">Strategic Planning</option>
                            <option {{#equal employee.department "5"}}selected{{/equal}} value="Accounting">Accounting</option>
                            <option {{#equal employee.department "6"}}selected{{/equal}} value="Human Resources">Human Resources</option>
                            <option {{#equal employee.department "7"}}selected{{/equal}} value="Quality Analysis">Quality Analysis</option>
                            </select> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="hireDate">Hire Date</label>
                            <input class="form-control" id="hireDate" name="hireDate" type="text" readonly value="{{employee.hireDate}}" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
        </form>
    </div>
</div>